* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 50px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 3px solid red;
    width: 70%;
    margin: 0 auto;
}

section {
    border: 3px solid #6b00ff;
    line-height: 100px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0px 0px 10px red;
}


section:nth-of-type(2) {
    background-color: #6b00ff;
    grid-column: 2 / 4;
}


section:nth-of-type(6) {
    background-color: #009200;
    grid-column: 3 / 5;
}

section:nth-of-type(9) {
    background-color: #fcb000;
    grid-column: 2;
    grid-row: 3 / 5;
}

section:nth-of-type(10) {
    background-color: #8a0081;
    grid-column: 4;
    grid-row: 3 / 5;
}



